.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.1vh;

  @media (max-aspect-ratio: 640 / 920) {
    font-size: 0.144vw;
  }
}

.fieldWrap {
  margin-left: -190em;
  width: 426em;
  height: 846em;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
}

.column {
  position: absolute;
  left: 160em;
  top: -420em;
  width: 150em;
}

.nextPieceBoxContainer {
  width: 150em;
  height: 189em;
  margin-bottom: 20em;
}

.nextPieceBoxContainerInner {
  width: 100%;
  height: 100%;
  padding: 5%;
}

.buttonWrap {
  margin-top: 20em;
}

.fieldText,
.fieldValue {
  font-size: 24em;
  line-height: 1.25em;
  font-weight: 700;
  text-align: center;
}
